---
import ImageGallery from "./ImageGallery.astro";
import TextImage from "./TextImage.astro";
import RecentItems from "./RecentItems.astro";
import RichText from "./RichText.astro";
import Features from "./Features.astro";
import ShopCategories from "./ShopCategories.astro";
import ShopProducts from "./ShopProducts.astro";
const { slot, ...props } = Astro.props;
---

<section
  class={`${props.surface || ""} ${
    props.block_class ? props.block_class : "py-8 sm:py-20"
  }`}
>
  {props.component === "ImageGallery" && <ImageGallery {...props} />}
  {props.component === "TextImage" && <TextImage {...props} />}
  {props.component === "RecentItems" && <RecentItems {...props} />}
  {props.component === "RichText" && <RichText {...props} />}
  {props.component === "Features" && <Features {...props} />}
  {props.component === "ShopCategories" && <ShopCategories {...props} />}
  {props.component === "ShopProducts" && <ShopProducts {...props} />}
</section>
