---
import { marked } from "marked";
import Intersecting from "@components/common/Intersecting.vue";
import Button from "@components/navigation/Button.astro";
const { content, container, buttons } = Astro.props;

const renderedContent = marked.parse(content);
---

<Intersecting client:visible className="w-full">
  <div class={`container-${container}  `} style="--animation-delay: 0.4s">
    <div set:html={renderedContent} class="richtext fade-up" />
    {
      buttons && (
        <div
          class="fade-up inline-flex flex-wrap gap-4 py-8"
          style="--animation-delay: 0.6s"
        >
          {buttons.map((btn) => (
            <Button {...btn} />
          ))}
        </div>
      )
    }
  </div>
</Intersecting>
