---
import { t } from "@util/translate";
import { Icon } from "astro-icon";
import Popper from "vue3-popper";
const { name } = Astro.props;
---

<button class="text-sm leading-none tracking-wider" aria-label={t(name)}>
  <Popper
    content={t(name)}
    client:visible
    hover
    placement="top"
    offsetDistance="1"
  >
    <span class="block transition-colors duration-500 hover:text-primary">
      <Icon name={name} class="pointer-events-none h-8 w-10 px-1" />
    </span>
  </Popper>
</button>
