---
import { Icon } from "astro-icon";
import { getIconName } from "@util/helpers";
const { href, label, icon, icon_only, color, className } = Astro.props;
const target = href.includes("http") ? "_blank" : "_self";
---

<a
  href={href}
  class={`btn ${color || `surface-primary`} ${className || ""} ${
    !icon_only || "btn-icon"
  }`}
  target={target}
>
  {icon && <Icon name={getIconName(icon)} class="h-6 w-6" />}
  {!icon_only && <span>{label}</span>}
</a>
