---
const { filters, className, links, active, base_url, type } = Astro.props;
import { slugify } from "@util/helpers";
---

<div
  class={`inline-flex md:flex gap-2 flex-wrap ${className ? className : ""}`}
>
  {
    !!links &&
      filters.map((filter) => (
        <a
          href={`/${base_url}${
            filter === active ? "" : `/${type || "tag"}/${slugify(filter)}`
          }`}
          class={`block rounded-md px-2 py-0.5 text-xs uppercase tracking-widest transition-all duration-300 hover:bg-opacity-60 hover:underline
						${filter == active ? "underline" : ""} `}
        >
          {filter}
        </a>
      ))
  }
  {
    !links &&
      filters.map((filter) => (
        <span class=" block py-0.5 text-xs uppercase tracking-widest opacity-90">
          {filter}
        </span>
      ))
  }
</div>
