---
import { Picture } from "astro-imagetools/components";
const { slot, ...props } = Astro.props;
import Intersecting from "@components/common/Intersecting.vue";
import { t } from "@util/translate";
const imageName = props.src.split("/").pop().split(".")[0];
const imgAlt = imageName ? imageName : "no-name";
const ext = props.src.split(".").pop();

function isPixelBasedImage(extension) {
  const pixelBasedFormats = [
    "jpg",
    "jpeg",
    "png",
    "gif",
    "bmp",
    "tiff",
    "webp",
    "ico",
  ];

  return pixelBasedFormats.includes(extension.toLowerCase());
}
const isSvg = !isPixelBasedImage(ext);

//
---

{
  !isSvg && (
    <Intersecting client:visible>
      <a
        href={`/images/${imgAlt}`}
        class="img fade-up block"
        transition:name={`image_${imgAlt}`}
        aria-label={t("enlarge_image")}
      >
        <Picture
          {...props}
          alt={imgAlt}
          width={768}
          breakpoints={[
            360, 390, 412, 601, 768, 820, 962, 1280, 1440, 1536, 1920,
          ]}
        />
      </a>
    </Intersecting>
  )
}
{isSvg && <img {...props} alt={imgAlt} />}
